
<!DOCTYPE html>
<html>
<head>
	<title>customers
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <style>
     body {
      padding:30%;

     }
   </style>
</head>
<body>
  <form action="/AddCustomer" method="POST" enctype="multipart/form-data">
    <h5 for="exampleFormControlFile1"> Customer Details</h5><br/>
    <div class="form-row">
          <div class="form-group col-md-6">
         
            <label for="inputEmail4">First Name</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Age</label>
          <input type="number" class="form-control" id="inputAddress" placeholder="Age">
        </div>
        <div class="form-group">
          <label for="inputAddress2">city </label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="city">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Income</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-3">
            <label for="inputState">Maritel Status</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Single</option>
              <option>Married</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="inputState">Have kids ?</label>
            <select id="inputState" class="form-control">
             
              <option>yes</option>
              <option>no</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress2">Religion </label>
          <select id="inputState" class="form-control">
             
            <option>Buddhism</option>
            <option>Hindusm</option>
            <option>Muslim</option>
            <option>Catholic</option>
            <option>Other</option>
            
          </select>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div> 
        <button type="submit" class="btn btn-primary">Save Customer</button>
      </form> <br/>
        <form action="/uploadImages" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <h5 for="exampleFormControlFile1"> Example file input</h5><br/>
          <div class="custom-file">
          <input type="file" class="custom-file-input" id="exampleFormControlFile1" name="image">
          <label class="custom-file-label" for="image">Select image</label>
        </div>

          
        </div>
        <button type="submit" class="btn btn-primary">Upload Image</button>
      </form> 
</body>
</html>